#stock-navbar{
    .segmented {
    //   background-color: #e1e8f6;
      border-radius: 9px;
      height: 36px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      width: fit-content;

      >button {
        border-radius: 21px;
        border: 0;
        padding: 0 20px;
        background: transparent;
        position: relative;
        z-index: 2;
        height: 32px;
        transition: all 0.2s;
        color: #4d5066;
        cursor: pointer;
        margin-right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 700;
  
        &.dropdown-menu-container {
          padding: 0;
  
          >.dropdown-menu {
            padding: 0 20px;
            height: 32px;
          }
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        &:not(.active):active {
          background: rgba(0, 0, 0, 0.07);
        }
  
        &.active {
          color: #ffffff;
          background-color: #213e7a;
        }
      }
    }
  
    *,
    :after,
    :before {
      box-sizing: border-box;
    }
  
    .segmented-card {
      width: 100%;
      max-width: 39rem;
      border-radius: 8px;
    }


  
}
    @media only screen and (max-width: 668px) {
        #stock-navbar .segmented {
          flex-wrap: wrap;
          padding-block: inherit;
        }
      
        #stock-navbar .segmented > button {
          margin-right: 0;
          margin-bottom: 0px;
          height: 18px;
          padding: 0 6px;
          border-radius: 16px;
          height: 24px;
          font-size: 14px;
        }
        
      }